#main-title {
    font-family: 'Anton', sans-serif;
}
.rules-text {
    font-family: 'Anton', sans-serif;
}
.col {
    font-family: 'Anton', sans-serif;
}
#totalScore {
    font-family: 'Anton', sans-serif;
}

#red-button {
    background-image: url(../images/ruby.jpeg);
    background-size: cover; 
    width: 100%;
    height: 100%;
}
#blue-button {
    background-image: url(../images/blue-diamond.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: top;
}
#yellow-button {
    background-image: url(../images/yellowsapphire.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
#green-button {
    background-image: url(../images/emerald.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
